
/*flechas*/
.f-izquierda{
    text-decoration: none;
    font-size: 80px;
    color: rgb(24, 224, 84);
    text-shadow: 2px 4px  black;
 
}




.f-izquierda:hover{
    text-decoration: none;
}
.f-derecha:hover{
    text-decoration: none;
}
/* cabecera */
   header{
    border-style: solid;
    border-color:transparent transparent #96A702 transparent; 
    width: 100%;
    position:fixed;
    height: 110px;
    top: 0px;   
    background-color: #001A19;   
   }

   /*Descriopcion*/
.nombre{
    background-color:#0B3936;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 130px;
    margin-top: 120px;
    margin-left: 40px;
    width: 470px;
       
}

.n-nombre{
    display: inline-block;
    color: white;
    font-size: 40px;
    margin-left: 90px;  
}
